@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body
{
	/* background: #000; */
	font-family: 'Montserrat', sans-serif;
}
.main{
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.6)), url(01.jpg);
	max-height: 100vh;
	background-position: center;
	background-size: cover;
	z-index: 1;
	overflow: hidden;
}
.container{
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
}

main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-between;
}
.box1{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

}
main div:nth-child(1){
	width: 60%;
}
main h1{
	font-size: 4em;
	color: #fff;
	margin-top: 1em;
	line-height: 1.1;
}
main h1 span{
	color: yellow;
}
.nal-beznal{
	margin-left: 3em;

}
.nal-beznal span{
	color: yellow;
	font-size: 1.5em;
}
.tel {
	margin-left: 3em;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}
.tel a{
	color: yellow;
	font-size: 1.8em;	
	margin-bottom: 1em;
}
/* -------------- */
.icon{
	margin-left: 2em;
}
.icon ul {
	display: flex;
	justify-content: space-start;
	align-items: center;
}
.icon ul li{
	list-style: none;
	/* margin-right: 1em; */
	
}
.icon ul li a {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
}
.icon ul li a span{
	margin-left: .8em;
}
.fa-viber{
	width: 40px;
	height: 40px;
}
.icon ul li a .fa {
	font-size: 1.8em;
}

.icon ul li:nth-child(1) a  {
	color: #665cac;
}
.icon ul li:nth-child(2) a  {
	color: #229ED9;
}
.icon ul li:nth-child(3) a {
	color: #4AC959;
}
/* -------------- */


.price-p{
	font-size: 1.2em;
	color: #fff;
	margin-bottom: .5em;
}
main h3{
	font-size: 1.3em;
	color: #fff;
}
main h3 span{
	color: yellow;
}
.box-li{
	padding-left: 4em;
	font-weight: 400;
}
.box-li ul li{
	font-weight: 300;
}
main ul li{
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	margin-bottom: .3em;
	list-style-type: square;
}
/* .price{
	padding-left: 3em;
}
.price h2{
	color: #fff;
	font-size: 1.5em;
	font-weight: 300;
} */
.box-2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}
.box-2 p{
	color: rgba(204, 204, 204, 0.7);
	font-size: 1.2em;
}
.work-time{
	color: #fff;
	font-weight: 300;
	font-size: .8em;
}
/* --------------- */
.box
{
    padding: 10px 20px;
	 margin-bottom: 7em;
}

.box h4
{
    color: yellow;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
	 font-weight: 400;
}
.box .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.box .row100 .col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 20px 0 10px;
    transition: 0.5s;
}
.box .row100 .inputBox
{
    position: relative;
    width: 100%;
    height: 60px;
    color: yellow;
}
.box .row100 .inputBox .text
{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}
.box .row100 .inputBox input,
.box .row100 .inputBox textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}
.box .row100 .inputBox .start
{
color: yellow;
}

.modal{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.814);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100000;
}
.modal.active{
	display: flex;
}
.modal-box{
	width: 50vw;
height: auto;
background: #00a3a8;
border-radius: 10px;
position: relative;
padding: 20px 20px 20px 20px;
}
.modal-exit{
	position: absolute;
	font-size: 2em;
}
.modal{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.814);
	display: none;
	justify-content: center;
	align-items: center;
	z-index: 100000;
}
.modal.active{
	display: flex;
}
.modal-box{
	width: 50vw;
height: auto;
background: #00a3a8;
border-radius: 10px;
position: relative;
padding: 20px 20px 20px 20px;
}
.modal-exit{
	position: absolute;
	font-size: 2em;
	top: -35px;
	right: -35px;
	cursor: pointer;
}
.modal-btn{
	background: rgb(238, 255, 0);
	padding: 5px 0px 5px 0px;
	text-transform: uppercase;
	font-size: 1em;
	border: 1px solid #000;
  color: #000;
  max-width: 180px;
}
.modal-btn:hover{
	background: rgb(8, 201, 8);
}
.formBx
{
  min-width: 60%;
}
.formBx form
{
  display: flex;
  flex-direction: column;
}
.formBx form h3,
.contactInfo h3
{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.formBx form input,
.formBx form textarea
{
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: 1px solid #000;
  outline: none;
  resize: none;
  color: #000;
}
.formBx form input::placeholder,
.formBx form textarea::placeholder
{
  color: #000;
}
.formBx form textarea
{
  min-height: 200px;
}
.formBx form input[type="submit"]
{
  max-width: 180px;
  background: rgb(238, 255, 0);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 5px 5px 5px;
}




.box .row100 .inputBox input:focus + .text
{
    top: -35px;
    left: -10px;
}
.box .row100 .inputBox .start:focus{
	color: #000;
}
.box .row100 .inputBox .line
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: yellow;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.box .row100 .inputBox input:focus ~ .line
/* .box .row100 .inputBox input:valid ~ .line */
{
    height: 100%;
}

.box .row100 .inputBox #input_message
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}
.box .row100 .inputBox textarea
{
    height: 100%;
    resize: none;
}
.box .row100 .inputBox textarea:focus ~ .line
/* .box .row100 .inputBox textarea:valid ~ .line */
{
    height: 100%;
}
.box .row100 .inputBox textarea:focus + .text
/* .box .row100 .inputBox textarea:valid + .text */
{
    top: -35px;
    left: -10px;
}
.modal-btn
{
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    outline: none;
    background: yellow;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

.btn-send{
	border: none;
	padding: 10px 20px;
	cursor: pointer;
	outline: none;
	background: yellow;
	color: #000;
	font-weight: 600;
	font-size: 18px;
	border-radius: 2px;
	display: none;
}







@media (max-width: 991px){
	main{
		flex-direction: column;
	}
	main h1{
		font-size: 3em;
	}
	.tel a {
		font-size: 1.6em;
		margin-bottom: 0.8em;
  }
	main div:nth-child(1){
		width: 100%;
		height: 100%;
	}
	.box-1{
		justify-content: space-around;
	}
	.box-2{
		display: none;
	}

	.btn-send {
    padding: 6px 9px;
    font-weight: 600;
    font-size: 15px;
    display: block;
	 margin-left: 3em;
}
}


@media (max-width: 767px)
{
   main h1{
font-size: 3em;
	}
	.tel a{
		font-size: 2em;
	}
	.box-li{
		padding-left: 3em;
	}
	main h3{
		font-size: 1em;
	}
	.modal-box{
		width: 80vw;
	}
	.nal-beznal{
		margin-left: 3em;
	}
	.nal-beznal span{
		font-size: 1em;
		font-weight: 300;
		
	}
}
@media (max-width: 567px)
{
	main h1{
		font-size: 2.5em;
	}
	.tel{
		margin-left: 0;
	}
	.icon{
		margin-left: 0;
	}
	.nal-beznal{
		margin-left: 0;
	}
	.btn-send{
		background: #ffff00a3;
		margin-left: 0;
	}
	.btn-send:hover{
		background: yellow;
	}
	.box-li{
		padding-left: 1em;
	}

}
@media (max-width: 467px)
{
	main h1{
		font-size: 2.1em;
		margin-top: 1em;
	}
	main h3{
		font-size: .8em;
	}
	.tel a {
		font-size: 1.5em;
  }
  main ul li{
	font-size: 1em;
  }
  .tel {
	margin-left: .8em;
	margin-bottom: 0;
	margin-top: 0;
}
.price h2{
	font-size: 1.3em;
	color: ;
}
.footer p{
	font-size: .7em;
	margin-right: 0.3em;
}
.btn-send {
	padding: 7px 12px;
	font-size: 15px;
}
.work-time{
	font-size: .6em;
}
.nal-beznal span {
	font-size: .9em;
}
}
@media (max-width: 428px){
	main{
		justify-content: space-around;
	}
}
@media (max-width: 414px){
	main h1{
		font-size: 2em;
	}
	.nal-beznal span {
		font-size: .8em;
  }
}